@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.body {
    position: relative;
    width: 1440px;
    /*margin: 0 auto;*/
}
.container {
    width: 100%;
    padding: 0 120px;
    box-sizing: border-box;
}

.h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;

    padding: 0;
    margin: 0;
}
.h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;

    padding: 0;
    margin: 0;
}
.sh2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}
.h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;

    padding: 0;
    margin: 0;
}
.h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;

    padding: 0;
    margin: 0;
}

.font {
    &-orange {
        color: #CD6326;
    }
    &-dark {
        color: #333333;
    }
    &-grey {
        color: #666666;
    }
    &-light {
        color: #F7F7F7;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;

    &:hover {
        background: #E39128;
    }
    &:active {
        background: #8F5613;
    }

    &_transparent {
        background: transparent;
        border: 2px solid #CD6326;
        box-sizing: border-box;

        &:hover {
            background: #CD6326;
        }
        &:active {
            border: 2px solid  #8F5613;
            background: #8F5613;
        }
    
    }
    &_small {
        width: 120px;
        height: 50px;
    }
}

/*------------------------------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__svg {
        margin-right: 15px;
    }
    &__text {
        text-transform: uppercase;
        color: #F7F7F7;

        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        line-height: 60px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 480px;
    padding: 0;
    margin: 0;
    list-style-type: none;

    font-size: 23px;
    line-height: 60px;

    &__item {
        color: #F7F7F7;
    }

    a {
        text-decoration: none;
        color: #F7F7F7;
    }

    .search__svg {
        vertical-align: sub;
    }
}

.survival {
    padding: 200px 0 240px;
    box-sizing: border-box;

    background: url(../img/survival.jpg) no-repeat center center;
    background-size: cover;

    &__content {
        width: 275px;
    }
    &__h1, &__text {
        margin-bottom: 50px;
    }
}

.articles {
    padding: 120px 0 120px;
    box-sizing: border-box;
    background: #CCCCCC;

    &__top {
        text-align: center;
        margin-bottom: 120px;
    }
    &__h2 {
        margin-bottom: 20px;
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__arrow {
        cursor: pointer;

        &_prev {
            padding-right: 60px;
        }
        &_next {
            padding-left: 60px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-right: -60px;
    }
    &__item {
        position: relative;
        width: 300px;
        height: 360px;
        margin-right: 60px;
    }
    &__item-text {
        position: absolute;
        left: 0;
        bottom: 40px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;
    }
    &__item-title {
        margin-bottom: 10px;

        font-size: 22px;
        line-height: 36px;
    }
    &__item-subtitle {
        font-size: 17px;
        line-height: 27px;
    }
}

.notified {
    padding: 120px 0 240px;
    box-sizing: border-box;
    background: #CCCCCC;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__h3 {
        margin-bottom: 60px;
    }

}

.subscribe {
    display: flex;
    align-items: center;
    
    &__email {
        width: 540px;
        height: 60px;
        padding: 0 15px;
        margin: 0;
        box-sizing: border-box;
        border: 1px solid #666666;
        border-right: none;
        background: none;

        &:focus {
            outline: none;
        }
    }
    &__submit {
        width: 120px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        padding: 0;
        margin: 0;

        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        line-height: 27px;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {color: #666666;}
        &::-moz-placeholder {color: #666666;}
        &:-ms-input-placeholder {color: #666666;}
        &::-ms-input-placeholder {color: #666666;}
        &::placeholder {color: #666666;}
    }
}

.footer {
    padding: 150px 0;
    box-sizing: border-box;
    background: url(../img/footer.jpg) no-repeat center center;
    background-size: cover;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {
        margin-right: 27px;

        &:last-child {
            margin-right: 0;
        }
    }
}





